
<h1>{{ title }} </h1>

<button (click)="changeTitle()">Cambiar</button>
<ul>
    <li>
        <a routerLink="/products">products</a>
    </li>
    <li>
        <a routerLink="/contact">contact</a>

    </li>
</ul>
<br>
<op-s></op-s>
<button-t></button-t>
<slider-o></slider-o>
<table-b></table-b>
<tab-group></tab-group>

<br>
<router-outlet></router-outlet>
<br>
<caja-selec></caja-selec>
<br>
<notificacion-g></notificacion-g>
<br>
<acom-num></acom-num>
<br>
<boton-m></boton-m>
<br>
<!-- <card-fancy></card-fancy> -->
